<div class="video-header wrap">
    <div class="fullscreen-video-wrap">
        <video src='../../../assets/media/opening dragon ball.mp4' autoplay muted onloadedmetadata="this.muted = true" loop></video>
    </div>
    <div class='header-overlay'>

        <div class="loginBox">
            <img src="../../../assets/images/PerfilDefecto.jpg" class="user">
            <h2>Log In Here</h2>
            <form role="form" autocomplete="off" #loginForm="ngForm" (ngSubmit)="onSubmit()">
                <p>Email</p>
                <input type="text" name='email' #name='ngModel' [(ngModel)]="user.email" placeholder="Enter Email" required>
                <p>Password</p>
                <input type="password" name='pass' #password='ngModel' [(ngModel)]="user.password" placeholder="••••••" required>
                <input type="submit" name="submit" value="Sign In">
                <button name="register" class='register' [routerLink]="['/register']" value="Sign In">Register</button>
            </form>
            <div class='alert alert-danger mt-4' *ngIf="status == 'error'">
                {{body.message}}
            </div>
        </div>

    </div>

</div>