<div class="container" [@fadeIn]>
    <div class=row>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Angular 4</h5>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem voluptate porro quia ipsa, delectus eum vitae consequuntur sunt, aliquam pariatur, quasi quaerat! Iure necessitatibus, at sunt quia quisquam hic accusantium..</p>
                    <a href="#" class="btn btn-success">Botoncito</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Angular 5</h5>
                    <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque ullam molestias in repellendus possimus voluptatum officiis eius amet? Optio sapiente eaque quas iure quis. Necessitatibus error facere inventore sed in.</p>
                    <a href="#" class="btn btn-success">Botoncitossss</a>
                </div>
            </div>
        </div>
    </div>
</div>