<div class='container'>
    <div class='d-flex flex-row flex-wrap justify-content-between flex-wrap'>
        <div class="card-deck ">

            <div class="card cardList" *ngFor="let lista of listas">
                <img [routerLink]="['/listView',lista._id]" class="card-img-top imgListas" src="{{lista.img ? url+ 'listImage/' + lista.img : 'http://via.placeholder.com/348x222'}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{lista.name}}</h5>
                    <p class="card-text text-justify">{{lista.description}}</p>
                </div>
                <div class="card-footer">
                    <span>fecha de creacion</span>
                </div>
            </div>
        </div>
    </div>
</div>