<div class='row'>
    <div class='col-md-12 text-right'>
        <button [routerLink]="['/lista','nuevo']" class='btn btn-success'>
            Nueva lista
        </button>

    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Fecha de creación</th>
                </tr>
            </thead>
            <tbody *ngFor="let lista of listas; let i = index">
                <tr>
                    <td>{{i+1}}</td>
                    <td>{{lista.name}}</td>
                    <td>{{lista.createdAt | date:'dd/MM/yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>