<div class="container-fluid">
    <h3 class="text-center userPanel">Panel de usuario</h3>
    <div class="row">
        <div class='col-md-2 sideMenu'>
            <div class='sidebar-admin'>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['listsEditor']" [routerLinkActive]="['active']">listado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['listCreator']" [routerLinkActive]="['active']">Crear</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['editar']" [routerLinkActive]="['active']">Editar Mis datos</a>
                    </li>
                    <li class="nav-item" *ngIf="identity && identity.role =='ROLE_ADMIN'">
                        <a class="nav-link" [routerLink]="['/adminPanel']" [routerLinkActive]="['active']">Panel Admin</a>
                    </li>
                    <li class="nav-item">
                        <button class='btn btn-danger btn-block' (click)='logOut()'>Log Out</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>