body {
    height: 100vm;
}

.navbar {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5f49+1,ff8c00+100 */
    background: #ff5f49;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ff5f49 1%, #ff8c00 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff5f49 1%, #ff8c00 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff5f49 1%, #ff8c00 100%);
}

.navbar-nav {
    font-weight: bold;
    color: black;
}

.navbar-nav .active {
    color: blue;
}

.imgLogo {
    width: 70px;
}