<div class="container" [@fadeIn]>
    <div class="row">
        <div class="col-md-12 mt-4">
            <h4 class="text-center">{{lista.name}}</h4>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-header">
            Sube tus videos
        </div>
        <div class="card-body">
            <div id="fileSelector">
                <input type="file" name="fileUplaod" id="fileUpload" multiple ng2FileSelect [uploader]="uploader">
            </div>
            <div>
                <div class="row uploadList mt-4" *ngFor="let item of uploader.queue">
                    <div class="col-sm-4">{{item.file.name}}</div>
                    <div class="col-sm-4">
                        <div class="progress">
                            <div class="progress-bar bg-success" [ngStyle]="{'width':item.progress + '%'}"></div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-dark" (click)="item.upload()">Subir</button>
                        <button type="button" class="btn btn-danger" (click)="item.remove()">Cancelar</button>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="uploader?.queue?.length >0">
                <button type="button" class="btn btn-primary" (click)="uploader.uploadAll()">Subir todos</button>
                <button type="button" class="btn btn-danger" (click)="limpiar()">Limpiar</button>
            </div>

        </div>
    </div>

    <div class="card mb-3 mt-5">
        <img class="card-img-top imgListView" src="{{lista.img ? url+ 'listImage/' + lista.img : 'http://via.placeholder.com/1108x281'}}" alt="Card image cap">
        <div class="card-header text-center">
            Reproducción
        </div>
        <div class="card-body mediaCard">
            <div *ngFor="let media of lista.media; let i = index">
                <div class="row borderBotton p-4">
                    <div class="col-md-3 mt-4">
                        {{media.name}}
                    </div>
                    <div class="col-md-2 mt-4">
                        {{media.size / 1024 / 1024 | number: '.2-2'}}MB
                    </div>
                    <div class="col-md-3 mt-4">
                        {{media.fellow}}
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-success buttonMedia" (click)="sendMedia(media.name)"><i class="fa fa-play-circle"></i></button>
                        <button class="btn btn-success buttonMedia" (click)="pauseVideo()"><i class="fa fa-pause-circle "></i></button>
                        <button class="btn btn-success buttonMedia" (click)="restartVideo()"><i class="fa fa-undo"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>